 .navbar-default
 {
     background-color: black;
     border-color:black
 }
 .navbar-default .navbar-brand,
 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus
 {
     color:white;
 }
 .navbar-default .navbar-nav>li>a{
     color:white;
 }
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
    background-color:red;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
    color:gray;
    background-color:red;
}
.navbar-default .navbar-text{
    color:white;
}
.navbar-brand .navbar-toggle{
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
{
    background-color:red;
}
.main-heading{
    color:white;
}
header {
    color: white;
    height: 80%;
    background-image: linear-gradient(black,yellow);
    width: 100%;
    display: flex;
    padding: 1%;
}
.header-font{
    float: left;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: bold;
    background: black;
}

.registration {
    max-width: 47%;
    margin: auto;
    padding: 10px 20px;
    background-color: #232020;
    border-radius:10px;
}
.login-div
{
    float:right;
}
.tag-login
{
    background-color:darkgray;
}
.tag-signup
{
    background-color:skyblue;
}
.tag-login a
{
    color:black;
    font-weight:bolder;
}
.tag-signup a
{
    color:black;
    font-weight:bolder;
}
.tag-logout
{
    background-color:darkgray;
}
.tag-logout a
{
    color:black;
    font-weight:bolder;
}
.form-heading {
    text-align: center;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: #fff;
}
.glyphicon
{
    color:black;
    background-color:white;
}
.control-label {
    color:white;
}
.row{
    margin-bottom:2%;
}
.error
{
    color:red;
    width:100%;
}
.logout
{
    height:10%;
    width: 11%;
    background-color:black;
    color:white;
    font-size:1.5em;
}
.space {
    margin-top:2%;
}
#Contact{
    width:99%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn-radious
{
    border-radius: 4px;
}
.note-message{
    margin-bottom:5%;
}
.form-btn
{
    text-align:center;
}
.span-text-danger
{
    color:red;
}
/*
.selection-form
{
    width:100%;
}
.table-class-th{
    color:white;
    border-bottom:thick groove;
    border-bottom-color:ActiveBorder;
}*//*
#menu {
    display: none;
}*/

/*

nav {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color:#1b2125;
}

.new-register {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 14px 26px;
    font-size: 17px;
}
*/
    /*.tab-group {
    list-style-type: none;
    padding: 0;
    margin: 0 0 40px 0;
    max-width: 40%;
    margin: auto;
    padding: 10px 20px;
}
.signup
{
    display:block;
    text-decoration:none;
    padding:15px;
    background:green;
    color:#a0b3b0;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    margin-left:auto;
    margin-right:auto;
}
.active a {
    background:#1ab188;
    color: #ffffff;
}
.logout
{
    text-decoration:none;
    font-weight: bolder;
    color:forestgreen;
    font-size:1em;
    text-align:center;
}
.tab{
   
    display: inline;
    
}
.registration-login {
    width: 70%;
    margin: 0;
    padding: 0%;
    margin-left: 15%;
}
*/
/*
.registration-form {
    max-width: 37%;
    float:right;
    padding: 10px 20px;
}
input[type="text"],
input[type="file"],
input[type="password"],
input[type="textarea"]
 {
    background: rgba(255,255,255,0.1);
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-size: 14px;
    outline: 0;
    padding: 8px;
    width: 90%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    font-style: normal;
    display: block;
    border-radius: 3px;
}
input:focus
{
    background-color:gray;
    color:white;
}
h3 {
    text-align: center;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: #fff;
}

.login-form {
    width: 60%;
    float: right;
}

.image-class
{
    width: 40%;
    float: left;
}
label {
    display: block;
    margin: 12px 0;
    font-family: serif;
    font-weight: 600;
    color: #fff;
}

.required-input {
    color: red;
}
.footer-div
{
    position: relative;
}
.required:after {
    content: "*";
    font-weight: bold;
    color: red;
}

#loginButton {
    margin: 10% 30%;
}

.gender-class {
    font-weight: 300;
    display: inline;
    font-size: 0.8em;
    margin-left: 10%;
}
#Contact{
    padding: 5px;
    height: 32px;
    border-radius: 3px;
    width: 90%;
    margin-left: 5%;
}
select {
    padding: 5px;
    height: 32px;
    border-radius: 3px;
    width: 30%;
}
#Address
{

}
.subscribe {
    display: inline;
    font-weight: 700;
}

button {
    padding: 10px;
    color: #fff;
    background-color:#0bb34e ;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    width: 30%;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(225,225,225,0.1) inset;
    margin-left: 33%;
    margin-right: 33%;
}
.footer-register
{
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: red;
   text-align: center;
}
.footer-login
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: red;
   text-align: center;
}
.js-span {
    color: red;
}
#Address{
    width:90%;
    margin-left:5%;
}
#captchaQuestion {
    width: 30%;
    display: inline;
}

#captchaAnswer {
    width: 30%;
    display: inline;
}

.equals-to {
    font-size: 250%;
}

.reload {
    height: 60px;
    width: 60px;
}

#captchaButton {
    margin: 0;
    padding: 0;
    width: auto;
    border: 0;
}

.invalid-input {
    margin-left: 5%;
}
.have-account a
{
    color:green;
    text-decoration:none;
}*/


@media only screen and (max-width: 700px) {
    .registration {
        max-width: 100%;
    }
 /*       .tab-group {
        list-style-type: none;
        padding: 0;
        max-width: 100%;
        margin: auto;
        padding: 10px 20px;
    }
    .signup
    {
        display:block;
        text-decoration:none;
        padding:15px;
        background:green; 
        color:#a0b3b0;
        font-size: 10px;
        float:left;
        width: 50%;
        text-align:center;
        cursor:pointer;
    }
.active a {
    background:#1ab188;
    color: #ffffff;
}
.tab{
    display: inline;
 }
    .login-form {
        width: 100%;
   }
    .image-class
{
display:none;
}

    #menu {
        display: inline-block;
        z-index: 999;
        padding: 4%;
        float: right;
        color: #efefef;
        font-size: 1em;
    }

    ul {
        display: none;
    }

    nav:hover ul {
        display: block;
        background-color: red;
    }

    nav li {
        text-align: center;
        background-color: red;
        width: 100%;
        margin: 0;
        padding: 0;
        float: left;
    }*/
}
