﻿@model UserRegistrationAssignment_V1.ViewModels.UserLogin
@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("UserLogin", "Login", FormMethod.Post, new { @class = "registration", role = "form" }))
{
    <div class="tab-group">
        <span class="btn btn-outline-primary tag-signup"><a href="/Registration/Register">Sign Up</a></span>
        <span class="btn btn-outline-primary tag-login"><a href="/Login/UserLogin">Log In</a></span>
    </div>
    @Html.AntiForgeryToken()
    <h3 class="form-heading">Login</h3>
    <div class="note-message">
        <span class="text-danger">Note:Fields marked with * are mandatory.</span>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.EmailId, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Enter Your Email" })
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Your Password", type = "password" })
                    </div>
                    <span class="col-md-8 error">@ViewBag.messageLogin</span>
                </div>
            </div>
        </div>
 
    <div class="form-btn">
        <button type="submit" value="Submit" id="LoginButton" class="btn btn-outline-primary">Log in</button>
    </div>
    <div>
        <span class="have-account">@Html.ActionLink("Forgot Password", "ForgotPassword", "Login")</span>
    </div>
}

