﻿@model UserRegistrationAssignment_V1.Models.User
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Register", "Registration", FormMethod.Post, new { @class = "registration", role = "form" }))
{
    <h3>Registration Form</h3>
        <span>Note:Fields marked with * are mandatory.</span>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter Your First Name" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.FirstName)</span>

        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter Your Last Name" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.LastName)</span>


        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter Your Email" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.Email)</span>
        <span class="invalid-input">@ViewBag.invalidEmailmMessage</span>


        @Html.LabelFor(m => m.Mobile)
        @Html.TextBoxFor(m => m.Mobile, new { placeholder = "Enter Your Mobile Number" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.Mobile)</span>


        @Html.LabelFor(m => m.Address)
        @Html.TextAreaFor(m => m.Address, new { @placeholder = "Enter Your Address" })
        <span class="invalid-input">@Html.ValidationMessageFor(m => m.Address)</span>

        <div>
            <button type="submit" value="Save" class="btn btn-outline-primary">Save</button>
        </div>
}

