﻿@using UserRegistrationAssignment_V1.CustomHelper;
@model UserRegistrationAssignment_V1.ViewModels.UserDetailsView
@{
    ViewBag.Title = "UserDetails";
}

<div class="registration">
    <h2 class="card-header">Hi @Model.FirstName</h2>
    <span class="user-image">
        @Html.Image(@Model.ImageUrl, @Model.AlternetText)
    </span>
    <div class="card-body">
        <h3 class="card-title">
            Name :
            <span class="user-details-span">
                 @Model.FirstName @Model.LastName
            </span>
        </h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Email   :   @Model.Email</li>
        <li class="list-group-item">Mobile  :   @Model.Mobile</li>
        @foreach (var data in Model.UserContactList)
        {
            <li class="list-group-item">@data.UserContactData.Type    :     @data.ContactNumber</li>
        }
        <li class="list-group-item">Address    :    @Model.Address</li>
    </ul>
    <div class="tab-group card-body">
        <span  class="btn btn-outline-primary tag-logout"><a href="/Login/UserLogout"> Logout</a></span>
    </div>
</div>